---
import TypingEffect from "./TypingEffect.astro";

interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
  typing?: boolean;
}

const { align = "center", tagline, title, typing = false } = Astro.props;
---

<header class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    {typing ? (
      <TypingEffect text={title} tag="h1" class="title" speed={40} delay={300} />
    ) : (
      <h1 class="title">{title}</h1>
    )}
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</header>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .title {
    font-size: var(--text-3xl);
    color: var(--gray-0);
    letter-spacing: var(--tracking-tight);
  }

  .tagline {
    color: var(--gray-300);
    line-height: var(--leading-relaxed);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
