---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";
import ProjectColumn from "../../components/ProjectColumn.astro";

const projects = (await getCollection("projects"))
  .filter((entry) => !entry.slug.includes("/"))
  .sort((a, b) => {
    const dateA = new Date(a.data.publishDate);
    const dateB = new Date(b.data.publishDate);
    return dateB.valueOf() - dateA.valueOf();
  });
---

<BaseLayout
  title="My Projects | Wolfgang Bubberman"
  description="Learn about Wolfgang Bubberman's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Project Planner"
        tagline="See here how I've planned out my current projects"
        align="start"
      />
      <div class="project-columns">
        <!-- here I want my project columns -->
        <ProjectColumn category="Planned" />
        <ProjectColumn category="In progress" />
        <ProjectColumn category="On hold" />
      </div>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  /* Define the styling for the project columns */
  .project-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust this for spacing between columns */
  }

  /* Optionally, you can add media queries to make the columns responsive */
  @media screen and (max-width: 768px) {
    .project-columns {
      flex-direction: column; /* Stack columns on smaller screens */
    }
  }
</style>
